/*--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
    font-family: 'Oxygen', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
    font-family: 'Oxygen', sans-serif;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
    font-family: 'Oxygen', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Fira Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Oxygen', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: inline-block;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

/*-- //Reset-Code --*/

.title {
    font-size: 44px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
}

.title-wls-text p {
    font-size: 20px;
    color: #888;
    letter-spacing: 1px;
    padding: 0em 12em;
}

.abut-headder h4,
.stat-info h4,
.contact-address-grid h4,
.ser-sevice-grid h4,
.text-grid-gried h4 {
    font-size: 22px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
}

.w3layouts-abt-info p,
.about-para-txt p,
.mid-text-info p,
.footer-contact-list p,
.footer-contact-list p a,
.info-matter-join p,
.ser-sevice-grid p {
    font-size: 14px;
    color: #4c4c4c;
    line-height: 25px;
}

.wthree-about-txt h5,
.info-matter-join h5 {
    font-size: 36px;
    color: #000;
    font-weight: bolder;
    letter-spacing: 2px;
}

.clr,
.stat-info h4,
.info-matter-join h5 {
    color: #fff;
}

.sub-colors p {
    color: #d2d2d2;
}

/* header */

/* navigation */

/* CSS Document */

.toggle-2,
.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}

#logo a {
    float: left;
    display: initial;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    color: #fff;
    padding: 0;
}

#logo a span {
    display: block;
    font-size: 16px;
    color: #00b381;
    text-align: center;
    border: none;
    border-top: 1px solid #fff;
    margin-top: 5px;
    padding-top: 4px;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}

/* Styling the links */

nav ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;
    text-transform: capitalize;
    padding: 7px 18px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav ul li ul li:hover {
    background: #f8f9fa;
}

.menu li .drop-text:hover {
    color: #000;
    border: none;
}

/* Background color change on Hover */

.menu li.active a,
.menu li a:hover {
    color: #00b381;
    border: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    top: 33px;
    background: #000;
    padding: 10px;
    border-radius: 4px;
    box-shadow: -1px 1px 5px black;
}

/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #fff;
    padding: 5px 10px;
    display: block;
    background: transparent;
}

/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */

li>a:only-child:after {
    content: '';
}

a.reqe-button {
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 4px;
}

/* Media Queries
--------------------------------------------- */

@media(max-width: 800px) {
    nav a {
        font-size: 13px;
    }
}

@media all and (max-width: 767px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        margin: 0;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }
    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 6px 17px;
        font-size: 14px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #fff;
        color: #000;
        border-radius: 50px;
        cursor: pointer;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        max-width: 138px;
        padding: 10px 18px;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 1px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .menu .toggle:hover {
        color: #00b381;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .toggle:hover {
        color: #000;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    label.toggle.toogle-2 {
        background: transparent;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        background: #656565;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }
    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 15px;
    }
    /* 
nav ul li ul li .toggle,
nav ul ul a {
background-color: #212121;
} */
    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }
    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }
    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav a {
        color: #000;
        font-size: 15px;
    }
    .menu li.active a,
    .menu li a:hover {
        background: transparent;
    }
}

@media all and (max-width: 568px) {
    nav a,
    .menu .toggle,
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        font-size: 14px;
    }
}

@media all and (max-width: 320px) {
    nav a,
    .menu .toggle,
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        font-size: 13px;
    }
}

/*-- dropdown --*/

/* banner */

.main-top {
    background: url(../images/b2.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

.headder-top {
    background: transparent;
    position: absolute;
    width: 100%;
    padding: 1em 1em;
}

.style-banner {
    padding-top: 18em;
}

.style-banner h5 {
    font-size: 26px;
    color: #00b381;
}

.two-demo-button p {
    color: #c1c1c1;
    font-weight: 400;
    font-size: 15px;
    padding-right: 42em;
}

.main-banner h4 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 600;
    text-shadow: 2px -1px 4px #000;
}

.view-buttn a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 2px;
    outline: none;
    border-radius: 0px;
    background-color: rgba(208, 208, 208, 0.4);
    padding: 10px 33px;
    border: 1px solid rgba(208, 208, 208, 0);
	opacity:0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.w3layouts-abt-info {
    padding: 3em 3em;
}

.banner-bottom-grid {
    background: #d2d2d2;
}

.view-price a {
    border-radius: 3px;
    background: #00b381;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    border-radius: 0px;
    font-size: 14px;
    padding: 8px 18px;
    border: 1px solid rgba(208, 208, 208, 0.4);
    opacity:0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.view-buttn a:hover,
.view-price a:hover {
    opacity:1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* //banner */

/* about */

.about-imgs-txt {
    background: url(../images/aab1.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 405px;
    box-shadow: -3px 4px 10px black;
}

.img-abt-info1 {
    background: url(../images/bb1.jpg)no-repeat center;
}

.img-abt-info2 {
    background: url(../images/bb2.jpg)no-repeat center;
}

.img-abt-info2,
.img-abt-info1 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 244px;
}

/*--// about-- */

/*-- //counters --*/

.stats {
    background: url(../images/s1.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.count-icon span {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 15px;
}

.stats-grid {
    text-align: center;
    margin: 0 auto;
}

.counter-number {
    font-size: 25px;
    color: #00b381;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    line-height: 17px;
}

/*-- //counter --*/

/*-- service-- */

.color-img-one {
    background: url(../images/iiaward-thumb.jpg)no-repeat center;
}

.color-img-two {
    background: url(../images/ubaward.jpg)no-repeat center;
}

.color-img-three {
    background: url(../images/caaward.jpg)no-repeat center;
}

.color-img-four {
    background: url(../images/s2.jpg)no-repeat center;
}

.color-img-four,
.color-img-three,
.color-img-two,
.color-img-one {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 296px;
    padding: 67px 25px;
    box-shadow: -2px 2px 8px black;
}

.ser-sevice-grid {
    padding: 1.5em 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: rgba(255, 255, 255, 0.65);
}

.ser-sevice-grid:hover {
    background: #00b381;
}

.ser-sevice-grid:hover.ser-sevice-grid h4 {
    color: #fff;
}

.color-img-five {
    background: url(../images/s6.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 616px;
    padding: 186px 26px;
    box-shadow: -2px 2px 8px black;
}

/*--//service-- */

/*-- gallery-- */

.gallery {
    background: #f5f5f5;
}

/* popup */

.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 430px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #686de0;
}

/* //popup */

/*--// gallery-- */

/*-- team-- */

.team {
    background: url(../images/tt1.png)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.text-grid-head {
    background: #fff;
    padding: 15px 15px;
}

.text-grid-gried {
    background: #fbfbfb;
    padding: 16px 15px;
}

.social-icons li a span {
    color: #000;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
    border: 1px solid #00b381;
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
}

.social-icons li a span:hover {
    background: #00b381;
}

/*-- team-- */

/* --blog-- */

.mid-text-info {
    padding: 2em 3em;
    background: #f5f5f5;
    position: relative;
}

.blog-info {
    position: absolute;
    top: 94px;
    left: -30px;
    width: 15%;
}

.blog-info a ul {
    margin: 0;
    background: #00b381;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.busness-tip-one {
    background: url(../images/bb1.jpg)no-repeat 0px 0px;
}

.busness-tip-two {
    background: url(../images/bb2.jpg)no-repeat 0px 0px;
}

.blogimage {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 200px;
}

.mid-text-info h4 a {
    font-size: 24px;
    color: #00b381;
    line-height: 39px;
}

/* info-matter */

.info-matter {
    background: #00b381;
}

/*-- contact-- */

.contact-address-info h2 a {
    font-size: 35px;
    color: #00b381;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-forms input,
.contact-forms textarea {
    font-size: 14px;
    color: #000;
    padding: .9em .7em;
    background: #f3f3f3;
    outline: none;
    border: none;
    border-left: 2px solid #00b381;
    border-radius: 0px;
    outline: none !important;
    box-shadow: 0px 0px 3px #bdbcbc;
}

.contact-forms textarea {
    resize: none;
    height: 12em;
}

.contact-forms ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.contact-forms ::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

.contact-forms :-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.contact-forms :-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

button.sent-butnn {
    width: 100%;
    color: #fff;
    background: #00b381;
    font-size: 16px;
    padding: 10px 0px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	opacity:0.7;
}

button.sent-butnn:hover {
	opacity:1;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.address_mail_footer_grids iframe {
    width: 100%;
    height: 15em;
    padding: 10px;
    border: 1px solid;
}

.footer-icon span,
.sevice-one-inner span {
    font-size: 24px;
    color: #000000;
    line-height: 48px;
}

/*--// contact-- */

/*--footer--*/

footer {
    background: #000;
}

.footer-main p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}

.footer-main p a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-main p a {
    font-weight: 600;
    font-size: 14px;
    color: #096fdc;
}

a.move-top {
    width: 40px;
    height: 40px;
    background: url(../images/arrow.png) no-repeat 0px 0px;
    display: inline-block;
}

/*--// footer-- */

/*-- responsive sizes --*/

@media screen and (max-width: 1440px) {
    .main-top {
        min-height: 680px;
    }
    .style-banner {
        padding-top: 15em;
    }
    .main-banner h4 {
        font-size: 3.2em;
    }
    .style-banner h5 {
        font-size: 24px;
    }
    #logo a {
        font-size: 22px;
    }
    .title {
        font-size: 42px;
    }
    .title-wls-text p {
        font-size: 18px;
    }
    .blog-info {
        width: 17%;
    }
    .mid-text-info h4 a {
        font-size: 22px;
        line-height: 31px;
    }
    .wthree-about-txt h5,
    .info-matter-join h5 {
        font-size: 34px;
    }
    .contact-address-info h2 a {
        font-size: 33px;
    }
    .contact-forms textarea {
        height: 11em;
    }
}

@media screen and (max-width: 1366px) {
    #logo a span {
        font-size: 20px;
    }
    .view-buttn a {
        font-size: 15px;
        padding: 8px 30px;
    }
    .two-demo-button p {
        padding-right: 39em;
    }
    .w3layouts-abt-info {
        padding: 2em 2em;
    }
    .counter-number {
        font-size: 22px;
    }
    .mid-text-info {
        padding: 1.7em 2em;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .8em .7em;
    }
    .address_mail_footer_grids iframe {
        height: 14em;
    }
    .img-abt-info2,
    .img-abt-info1 {
        height: 210px;
    }
}

@media screen and (max-width: 1280px) {
    .main-top {
        min-height: 600px;
    }
    .style-banner {
        padding-top: 12.5em;
    }
    .main-banner h4 {
        font-size: 3em;
    }
    .w3layouts-abt-info {
        padding: 1.7em 1.5em;
    }
    .wthree-about-txt h5,
    .info-matter-join h5 {
        font-size: 32px;
    }
    .title {
        font-size: 39px;
    }
    .abut-headder h4,
    .stat-info h4,
    .contact-address-grid h4,
    .ser-sevice-grid h4,
    .text-grid-gried h4 {
        font-size: 21px;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        height: 285px;
        padding: 60px 25px
    }
    .color-img-five {
        height: 586px;
        padding: 173px 26px;
    }
    .mid-text-info {
        padding: 1.7em 1.5em;
    }
}

@media screen and (max-width: 1080px) {
    .blog-info {
        width: 19%;
    }
    #logo a {
        font-size: 34px;
    }
    .two-demo-button p {
        padding-right: 33em;
    }
    .w3layouts-abt-info {
        padding: 1em 1.5em;
    }
    .title-wls-text p {
        padding: 0em 10em;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        padding: 57px 16px;
    }
    .ser-sevice-grid {
        padding: 1.2em .7em;
    }
    .mid-text-info h4 a {
        font-size: 20px;
        line-height: 30px;
    }
    .mid-text-info {
        padding: 1.5em 1.5em;
    }
    .blog-info {
        width: 23%;
    }
    .wthree-about-txt h5,
    .info-matter-join h5 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .contact-forms textarea {
        height: 10em;
    }
    .view-buttn a {
        padding: 7px 26px;
    }
    .style-banner h5 {
        font-size: 22px;
    }
    .counter-number {
        font-size: 20px;
    }
    .title-wls-text p {
        font-size: 17px;
    }
    button.sent-butnn {
        font-size: 15px;
        padding: 8px 0px;
    }
    .social-icons li a span {
        width: 31px;
        height: 31px;
        line-height: 31px;
    }
}

@media screen and (max-width: 991px) {
    .two-demo-button p {
        padding-right: 14em;
    }
    .main-top {
        min-height: 565px;
    }
    .main-banner h4 {
        font-size: 2.5em;
    }
    .about-imgs-txt {
        height: 447px;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        height: 267px;
    }
    .color-img-five {
        padding: 204px 26px;
    }
    .service-two-grids:nth-child(2),
    .team-grid-colum:nth-child(3),
    .team-grid-colum:nth-child(4) {
        margin-top: 25px;
    }
    .title-wls-text p {
        padding: 0em 5em;
    }
    .blog-info {
        top: 49px;
        width: 12%;
        left: -42px;
    }
    .contact-address-info h2 a {
        font-size: 29px;
    }
    .contact-forms textarea {
        height: 9em;
    }
}

@media screen and (max-width: 800px) {
    #logo a {
        font-size: 31px;
    }
    nav ul li a {
        padding: 7px 12px;
    }
    .wthree-about-txt h5,
    .info-matter-join h5 {
        font-size: 28px;
    }
    .title {
        font-size: 37px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 768px) {
    .main-top {
        min-height: 520px;
    }
    .main-banner h4 {
        font-size: 2.3em;
    }
    .style-banner h5 {
        font-size: 20px;
    }
    .style-banner {
        padding-top: 11em;
    }
    .abut-headder h4,
    .stat-info h4,
    .contact-address-grid h4,
    .ser-sevice-grid h4,
    .text-grid-gried h4 {
        font-size: 20px;
    }
    .color-img-five {
        padding: 177px 26px;
        height: 532px;
    }
    .blog-info {
        top: 61px;
        width: 15%;
        left: -36px;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .7em .7em;
    }
    .address_mail_footer_grids iframe {
        height: 12em;
    }
}

@media screen and (max-width: 767px) {
    .style-banner {
        padding-top: 10.5em;
    }
    .main-banner h4 {
        font-size: 2.1em;
    }
    .two-demo-button p {
        padding-right: 7em;
    }
    .view-buttn a {
        padding: 7px 23px;
    }
    #logo a {
        font-size: 29px;
    }
    .about-imgs-txt {
        margin-top: 35px;
    }
    .title-wls-text p {
        font-size: 16px;
        padding: 0em .5em;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        padding: 44px 16px;
    }
    .address-grid {
        margin-top: 20px;
    }
}

@media screen and (max-width: 736px) {
    .view-price a {
        padding: 8px 14px;
    }
    .wthree-about-txt h5,
    .info-matter-join h5 {
        font-size: 26px;
        letter-spacing: 1px;
    }
    .stats-grid:nth-child(3),
    .stats-grid:nth-child(4) {
        margin-top: 20px;
    }
    .count-icon span {
        font-size: 23px;
        margin-bottom: 13px;
    }
    .title {
        font-size: 35px;
    }
    .mid-text-info h4 a {
        font-size: 18px;
    }
    .contact-address-info h2 a {
        font-size: 27px;
    }
    .color-img-five {
        padding: 163px 26px;
    }
}

@media screen and (max-width: 667px) {
    .about-imgs-txt {
        height: 405px;
    }
    .mid-text-info {
        padding: 1.2em 1.5em;
    }
}

@media screen and (max-width: 640px) {
    .main-top {
        min-height: 500px;
    }
    .main-banner h4 {
        font-size: 1.8em;
    }
    .style-banner h5 {
        font-size: 18px;
    }
    .color-img-five {
        height: 489px;
        padding: 143px 26px;
    }
    .social-icons li a span {
        width: 29px;
        height: 29px;
        line-height: 29px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 33px;
    }
    .two-demo-button p {
        padding-right: 3em;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        height: 242px;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        padding: 32px 16px;
    }
    .blog-info {
        width: 18%;
    }
    .address_mail_footer_grids iframe {
        height: 11em;
    }
}

@media screen and (max-width: 568px) {
    .counter-number {
        font-size: 18px;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        height: 194px;
    }
    .team-grid-colum,
    .gallery-img-grid {
        width: 50%;
    }
    .blog-info {
        position: inherit;
        top: 0px;
        left: 0px;
        margin-bottom: 15px;
    }
    .contact-address-info h2 a {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .footer-main p {
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 480px) {
    .main-top {
        min-height: 442px;
    }
    .style-banner {
        padding-top: 9.5em;
    }
    .title-wls-text p {
        font-size: 15px;
    }
    .color-img-five {
        padding: 131px 26px;
    }
    .text-grid-gried {
        padding: 13px 15px;
    }
    .blog-info a ul {
        padding: 13px;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .6em .6em;
    }
    .footer-main p {
        line-height: 28px;
    }
}

@media screen and (max-width: 440px) {
    .main-banner h4 {
        font-size: 1.6em;
    }
    #logo a span {
        font-size: 14px;
    }
    .two-demo-button p {
        font-size: 14px;
        padding-right: 1em;
    }
    .view-buttn a {
        font-size: 14px;
    }
}

@media screen and (max-width: 414px) {
    .color-img-five {
        padding: 118px 26px;
    }
    .team-grid-colum {
        width: 65%;
        margin: 0px auto;
    }
    .gallery-img-grid {
        width: 100%;
    }
    .team-grid-colum:nth-child(2) {
        margin-top: 20px;
    }
    .contact-address-info h2 a {
        font-size: 22px;
    }
}

@media screen and (max-width: 384px) {
    .style-banner h5 {
        font-size: 16px;
    }
    .main-banner h4 {
        font-size: 1.4em;
    }
    .headder-top {
        padding: .7em .5em;
    }
    .title-wls-text p {
        font-size: 14px;
    }
    .ser-sevice-grid {
        padding: 1em .7em;
    }
    .color-img-five {
        padding: 96px 26px;
    }
    .color-img-four,
    .color-img-three,
    .color-img-two,
    .color-img-one {
        padding: 25px 16px;
    }
}

@media screen and (max-width: 375px) {
    .toggle {
        padding: 5px 15px;
    }
    .view-buttn a {
        padding: 7px 16px;
    }
    .style-banner {
        padding-top: 9em;
    }
    .team-grid-colum {
        width: 70%;
    }
}

@media screen and (max-width: 320px) {
    .style-banner {
        padding-top: 8.5em;
    }
    .style-banner h5 {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .two-demo-button p {
        font-size: 13px;
        letter-spacing: 0px;
        padding-right: 0em;
    }
    .color-img-five {
        padding: 71px 26px;
    }
    .team-grid-colum {
        width: 85%;
    }
    .title {
        font-size: 31px;
    }
}

/*-- //responsive sizes --*/